<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Login</title>
    <link rel="stylesheet" href="../../static/admin/assets/css/login.css">
    <!-- Latest compiled and minified CSS -->

</head>
<body>
    <div class="login-form-bd">
        <div class="form-wrapper">
          <div class="form-container">
            <h1> Admin Login</h1>

            <form method="post">
              <div class="form-control">
                {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                  {% for category, message in messages %}
                    <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                      {{ message }}
                      
                    </div>
                  {% endfor %}
                {% endif %}
              {% endwith %}
              </div>

                <div class="form-control">
                    <input type="text" name="email" placeholder="Email" required>
                    
                </div>
            
                <div class="form-control">
                    <input type="password" name="password" placeholder="Password" required>
                    
                </div>
            
                <button type="submit" class="login-btn">Login</button>
            </form>
            
            <p><a href="{{ url_for('home') }}">Back Home</a></p>

          </div>
        </div>
      </div>
      </div>
      
</body>
</html>